KEYCLOAK_URL=http://localhost:8080/realms/example-realm
KEYCLOAK_CLIENT_ID=example-client-id
KEYCLOAK_CLIENT_SECRET=example-client-secret
KEYCLOAK_USERNAME=example-user
KEYCLOAK_PASSWORD=example-password
